

.legend-color-container__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: $xs-size;
  flex-direction: column;
}

.legend-color-container__container-title {
  margin-bottom: $xs-size;
}

.legend-color-container__color-container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 300px;
  height: 40px;
}
